/* common style */


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}


/* all-button-styles */

.btn{
    padding: 12px 16px;
    border: none;
    border-radius:4px;
    background-color: #469165;
    color: white;
    font-weight: 600;
}

.banner-button{
    justify-content: center;
    display: flex;
    gap: 16px;
}

.banner-button .btn-3{
    padding: 12px 16px;
    border: 1px solid white;
    background-color: transparent;
    border-radius:4px;
    font-weight: 600;
    color: white;

}

.container{
    margin: 0 auto;
    width: 85%;
    max-width: 1600px;

}



/* main style */


#nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.nav-logo img {
    width: 139px;
    height: 60px;

}

.nav-content {
    display: flex;
    gap: 32px;

}

.nav-content ul {
    list-style: none;
}

.nav-content ul a {
    text-decoration: none;
    color: black;
}

/* header section */

#banner-section{
    background: url(../assets/hero-bg.png);
    padding: 115.5px 120px 179.5px;
    margin-bottom: 120px;

}

.banner-container{
    text-align: center;
    
}

.early-access{
    background-color: white;
    width: 229px;
    border-radius: 1000px;
    margin: 0 auto;
    padding: 8px 12px;
    color: #469165;
    margin-bottom: 16px;
    font-weight: 500;
}

h1.banner-title{
    color: white;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;

}

h1.banner-title span{
    color: #469165;
}

p.banner-text{
    color: white;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 32px;
}

/* notes-section-styles */


#notes-section{
    margin-bottom: 30px;
}

.notes-heading{
    text-align: center;
}

.notes-heading h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.notes-heading p{
    line-height: 20px;
    color: #627382;
    margin-bottom: 30px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card{
    /* width: 300px 322px; */
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 2px 5px 9px -6px black;

    

}

.card .icon{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 69.5px auto 16px;
}

.card .icon img{
    margin-top: 13px;
}

.card h3{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card p{
    font-size: 16px;
    color: #627382;
}

/* brain-section */

#brain-section{
    margin-bottom: 120px;
}

.brain-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
} 

.knowledge-img img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

p.solution{
    color: #469165;
    font-weight: 500;
    margin-bottom: 16px;
}

.description h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 30px;

}

.description .subtitle{
    color: #627382;
    margin-bottom: 50px;

}

.description ul li{
    list-style: url(../assets/CheckCircle.png);
    list-style-position: inside;
    margin-bottom: 16px;
}