/* common style */


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}


/* all-button-styles */

.btn {
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 7px;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    gap: 16px;
    box-shadow: .05px .5px 9px 2px rgb(2, 49, 26);
    background-color: #135d3279;
    border-radius: 12px;

}

.btn-hover:hover {
    gap: 16px;
    box-shadow: .05px .5px 9px 3px rgb(2, 49, 26);
    background-color: #176538;
    letter-spacing: 1px;
    border-radius: 12px;

}


.banner-button {
    justify-content: center;
    display: flex;
    gap: 16px;
}

.banner-button .btn-3 {
    padding: 12px 16px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 7px;
    cursor: pointer;
    transition: .5s;
    

}

.btn-3 .triangle-icon {
    transform: rotate(90deg);
    width: 50;

}

.btn-3:hover {
    gap: 16px;
    box-shadow: .05px .5px 9px 2px rgb(2, 49, 26);
    background-color: #0000007b;
    border-radius: 12px;

}

.btn-4 {

    margin: 0 auto 16px;
}

.container {
    margin: 0 auto;
    width: 85%;
    max-width: 1600px;

}



/* main style */

/* nav-section-styles */

#nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}



.nav-logo img {
    width: 139px;
    height: 60px;

}

.nav-content {
    display: flex;
    gap: 32px;

}

.nav-content ul {
    list-style: none;
}

.nav-content ul a {
    text-decoration: none;
    color: black;
}

/* banner-section-styles */

#banner-section {
    background: url(../assets/hero-bg.png);
    padding: 115.5px 120px 179.5px;
    margin-bottom: 120px;

}

.banner-container {
    text-align: center;

}



.circle {
    width: 13px;
    height: 13px;
    background-image: radial-gradient(circle, #469165, #bbd8c6);
    border-radius: 50%;

}

.early-access-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 229px;
    border-radius: 1000px;
    margin: 0 auto;
    padding: 8px 12px;
    color: #469165;
    margin-bottom: 16px;
    font-weight: 500;
    gap: 13px;

}

h1.banner-title {
    color: white;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;

}

h1.banner-title span {
    color: #469165;
}

p.banner-text {
    color: white;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 32px;
}

/* notes-section-styles */


#notes-section {
    margin-bottom: 30px;
}

.notes-heading {
    text-align: center;
}

.notes-heading h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.notes-heading p {
    line-height: 20px;
    color: #627382;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card {
    /* width: 300px 322px; */
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 2px 5px 9px -6px black;



}

.card .icon {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 69.5px auto 16px;
}

.card .icon img {
    margin-top: 13px;
}

.card h3 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card p {
    font-size: 16px;
    color: #627382;
}

/* brain-section-styles */

#brain-section {
    margin-bottom: 120px;
}

.brain-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.knowledge-img img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

p.solution {
    color: #469165;
    font-weight: 500;
    margin-bottom: 16px;
}

.description h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 30px;

}

.description .subtitle {
    color: #627382;
    margin-bottom: 50px;

}

.description ul li {
    list-style: url(../assets/CheckCircle.png);
    list-style-position: inside;
    margin-bottom: 16px;
}

/* early-access-section-styles */

#early-access-section {
    margin-bottom: 120px;
}

.early-access-container {
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
    border-radius: 12px;
}

.early-access-container h2 {
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;

}

.early-access-container p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}

.early-access-container .credit-card {
    display: flex;
    justify-content: center;
    gap: 25px;
    color: #627382;
}

.credit-card .without-style {
    list-style: none;
}

/* footer-section-styles */

#footer-section {
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-logo img {
    width: 139px;
    height: 60px;
}

.social-link {
    color: white;
    font-size: 20px;
}

.social-link a img {
    background-color: white;
    border-radius: 100%;
    width: 18px;
    margin-left: 7px;
    margin-top: 16px;

}

hr {
    background-color: #E5E7EB;
}

.copyright-container p {
    color: #FAFAFA;
    margin-top: 30px;
    text-align: center;
}