/* common style */


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}


/* all-button-styles */

.btn{
    padding: 12px 16px;
    border: none;
    border-radius:4px;
    background-color: #469165;
    color: white;
    font-weight: 600;
}

.banner-button{
    justify-content: center;
    display: flex;
    gap: 16px;
}

.banner-button .btn-3{
    padding: 12px 16px;
    border: 1px solid white;
    background-color: transparent;
    border-radius:4px;
    font-weight: 600;
    color: white;

}



/* main style */


#nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.nav-logo img {
    width: 139px;
    height: 60px;

}

.nav-content {
    display: flex;
    gap: 32px;

}

.nav-content ul {
    list-style: none;
}

.nav-content ul a {
    text-decoration: none;
    color: black;
}

/* header section */

#banner-section{
    background: url(../assets/hero-bg.png);
    padding: 115.5px 120px 179.5px;

}

.banner-container{
    text-align: center;
    
}

.early-access{
    background-color: white;
    width: 229px;
    border-radius: 1000px;
    margin: 0 auto;
    padding: 8px 12px;
    color: #469165;
    margin-bottom: 16px;
    font-weight: 500;
}

h1.banner-title{
    color: white;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;

}

h1.banner-title span{
    color: #469165;
}

p.banner-text{
    color: white;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 32px;
}